<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>Центр адаптации ГК «Росатом»</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <img alt="ГК «Росатом»" src="{{ url_for('static', filename='img/rosatom_logo.jpg') }}">
    <div class="smallname"
         style="border-width: 0 0 0 3px;/*толщина*/ border-style: solid; padding-left: 10px;/*отступ слева*/">
        <p><span>РОСАТОМ</span></p>
        <p><span>ЦЕНТР</span></p>
        <p><span>CASE-IN</span></p>
    </div>
    <div>
        <p><a href="{{ url_for('index') }}">Username</a></p>
    </div>
    <img alt="Фото профиля" src="{{ url_for('static', filename='img/dan2.png') }}">
    <hr>
</header>
<br>
<div>
    <div>
        <a href="">О РОСАТОМ</a>
    </div>
    <br>
    <div>
        <a href="">КУРСЫ</a>
    </div>
    <br>
    <div>
        <a href="">ТЕСТЫ</a>
    </div>
    <br>
    <div>
        <a href="">НОВОСТИ</a>
    </div>
</div>
<div>
    <div>
        <p>Дорогой друг, рад тебе представить перечень курсов,</p>
        <p>которые помогут тебе лучше адаптироваться к работе в</p>
        <p>новой компании</p>
    </div>
    <div>
        <p>Существует два типа курсов:</p>
        <p>*RoadMap - основные курсы, нацеленные на адаптацию молодого специалиста к</p>
        <p>продуктивкой работе в компании ---</p>
        <p>отмечаются как:</p>
        <p>*Побочные курсы нацелены на повышение квалификации</p>
        <p>отмечаются как:</p>
    </div>
    <div>
        <br>
        <br>
        <div>
            <div>
                <p><a href="">1*История РОСАТОМА - Выполнено</a></p>
            </div>
            <br>
            <div>
                <p><a href="">1*История РОСАТОМА - Не пройдено</a></p>
            </div>
            <br>
            <div>
                <p><a href="">1*История РОСАТОМА</a></p>
            </div>
            <br>
            <div>
                <p><a href="">1*История РОСАТОМА</a></p>
            </div>
            <br>
        </div>
        <div>
            <div>
                <p><a href="">1*История РОСАТОМА</a></p>
            </div>
            <br>
            <div>
                <p><a href="">1*История РОСАТОМА</a></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<footer>
    <hr class="userform">
    <p>2008-2021. Все права защищены. <a href="">Государственная корпорация по атомной энергии "Росатом"</a></p>
    <p>При использовании материалов <a href="https://www.rosatom.ru">www.rosatom.ru</a></p>
    <p><a href="http://google.com" target="blank">Сообщить о коррупции</a>:800-100-07-07</p>
    <br>
    <br>
    <h3>Следить за нами:</h3>
</footer>
</body>
</html>